################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TabNavigation_6.3/.vs/TabNavigation/v15
